<h4>Borrower: <strong><%= @borrower.full_name %></strong> </h4>
<h4>Amount Needed: <strong><%= @borrower.money %></strong> </h4>
<h4>Amount Raised: <strong><%= @borrower.raised %></strong> </h4>

<div class="table_lender">
<h5>List of people who have lend you money</h5>
	<div class="table-responsive">
		<table class="table table-striped" id="table_color">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Amount Lent</th>
				</tr>
			</thead>
			<tbody>
				<% @my_lenders.each do |my_lender| %>
					<tr>
						<td><%= Lender.find(my_lender.lender_id).full_name %></td>
						<td><%= Lender.find(my_lender.lender_id).email %></td>
						<td><%= my_lender.amount %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>