<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

 	<title>OnlineLending2</title>
  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<% if current_lender %>
			<div class="my_navbar">
				<form action="/online_lending/lender" method="post">
					<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
					<input type="hidden" name="_method" value="delete" >
					<input type="submit" value="logout" class="btn btn-outline-success pull-right my_logout">
				</form>
			</div>
		<% end %>

		<% if current_borrower %>
			<div class="my_navbar">
				<form action="/online_lending/borrower" method="post" class="form-inline pull-xs-right">
					<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
					<input type="hidden" name="_method" value="delete">
					<input type="submit" value="logout" class="btn btn-outline-success pull-right my_logout">
				</form>
			</div>
		<% end %>
		<div class="container" id="errors">
			<p class="my_message"><%= flash[:message] %></p>
			<p class="my_error"><%= flash[:error] %></p>
		</div>
	
		<%= yield %>
		
	</div>
</body>
</html>
